<!DOCTYPE html>
<html>
<head>
    <title>Code de Double Authentification</title>
</head>
<body>
    <h1>Code de Double Authentification</h1>
    <p>Votre code de double authentification est : {{ authCode }}</p>
</body>
</html>
