<section class="bienvenu-home" id="bienvenu">

	<div class="bienvenu-home-content">

		<div class="bienvenu-home-titre p-4">

			<h1 class="titre-present text-secondary">Bienvenue dans l'univers TopLissage, où la qualité naturelle rencontre la satisfaction capillaire</h1>

		</div>

		<div class="container text-bienvenu-home mb-5">

			<span class="desciption-idee">

				Envie de faire partie de l’aventure ?

			</span>
			<div class="bouton-insciption m-3"> 
				<a href="" class="btn btn-secondary">Inscris toi</a>
			</div>


		</div>

	</div>

</section>
