<section class="present-produits" id="present-mesproduits">

	<div class="produits-content-home">

		<div class="produits-titre-home text-secondary text-center p-5">

			<h1>Nos Produits</h1>

		</div>

		<div class="d-flex justify-content-around pb-5">

			<div class=" col-xl-2 ">
				<a class="btn btn-secondary col-xl-8 offset-xl-2 fs-4 	" href="">Lissage Bresilien</a>
			</div>

			<div class="col-xl-2 ">
				<a class="btn btn-secondary  col-xl-8 offset-xl-2 fs-4" href="">Produits coiffants</a>
			</div>

			<div class="col-xl-2 ">
				<a class="btn btn-secondary col-xl-10 offset-xl-1 fs-4" href="">Produits techniques</a>
			</div>

			<div class="col-xl-2 ">
				<a class="btn btn-secondary col-xl-8 offset-xl-2 fs-4" href="">Soins Capilaires</a>

			</div>
		</div>


		<div class="d-flex justify-content-evenly bande-carousel ">

			<div class="col-lg-3 d-lg-none d-xl-block d-none">
				{% include "includes/carousels/_carousel-produits-present1.html.twig" %}
			</div>
			<div class="col-lg-3 d-md-none d-lg-block d-none ">
				{% include "includes/carousels/_carousel-produits-present2.html.twig" %}
			</div>
			<div class="col-lg-3 col-md-6">
				{% include "includes/carousels/_carousel-produits-present1.html.twig" %}
			</div>
			<div class="col-lg-3 col-md-6">
				{% include "includes/carousels/_carousel-produits-present2.html.twig" %}
			</div>

		</div>

	</div>

</section>
