<section class="presentation" id="presentation">

    <div class="presentation-content">

        <div class="presentation-titre p-4">

            <h1 class="titre-present text-secondary">Qui sommes-nous ?</h1>

        </div>

        <div class="container text-presentation">

            <span class="desciption-idee">

                TopLissage, c'est un concept novateur dans le monde de la coiffure, 
                offrant aux professionnels de la coiffure l'accès à des produits cosmétiques de qualité 
                en provenance du Brésil. 
                Notre objectif est de permettre aux professionnels inscrits 
                sur notre plateforme de diffuser l'art authentique 
                du lissage brésilien dans tous les salons de coiffure en France 
                et même dans le monde entier.

            </span>

        </div>

    </div>

</section>