<section class="produits-nat position-relative" id="presentation">

	<div class="container-fluid produits-nature-content">

		<div class="produits-nature-titre p-5">
			<h1 class="titre-present text-secondary text-center">Des produits naturels</h1>
		</div>

		<div class="container text-produits-nature ">

			<span class="desciption-idee-nature fs-3">

				Explorez le monde du lissage brésilien avec Toplissage, 
				où la beauté rencontre l'authenticité. 
				Nos produits, 100 % naturels et testés en laboratoire, 
				offrent des résultats exceptionnels pour tous les types de cheveux.
				Découvrez librement nos produits sur la page dédiée,
				avec des descriptions détaillées de leurs bienfaits.

			</span>

		</div>

		<div class="img-nature position-absolute bottom-1 start-50 translate-middle d-flex justify-content-around w-70">

            <img src="/upload/images/card-produit-nat2.png" alt="" class="card rounded-4 img-nat col-xl-2 col-lg-4 col-md-4 mx-3 offset-md-1">
            <img src="/upload/images/card-produit-nat1.png" alt="" class="card rounded-4 img-nat col-xl-2 col-lg-4 col-md-4 mx-3 offset-md-1">
            <img src="/upload/images/card-produit-nat3.png" alt="" class="card rounded-4 img-nat col-xl-2 col-lg-4 col-md-4 mx-3 offset-md-1">

        </div>

	</div>

</section>
