<section class="professional-home" id="professional">

	<div class="professional-content">

		<div class="professional-titre p-4">

			<h1 class="titre-present text-secondary text-lg-center text-md-center">Pour les professionels de la coiffure</h1>

		</div>

		<div class="container text-professional">

			<span class="desciption-idee">

				Nous offrons aux professionnels une exclusivité d'achat de nos produits, 
				                assurant une qualité de service et des résultats capillaires exceptionnels pour leur clientèle.

			</span>

		</div>

		<div class="d-flex justify-content-evenly p-1 bande-carousel-pro">

			<div class="col-xl-4  d-lg-none d-xl-block d-none  ">
				{% include "includes/carousels/_carousel-professionals1.html.twig" %}
			</div>

			<div class="col-xl-4 col-lg-6 col-md-6 d-md-none d-lg-block d-none">
				{% include "includes/carousels/_carousel-professionals1.html.twig" %}
			</div>

			<div class="col-xl-4 col-lg-6 col-md-12 col-sm-3 ">
				{% include "includes/carousels/_carousel-professionals1.html.twig" %}
			</div>


		</div>

	</div>

</section>
