<section class="salon" id="salon-localisation">

    <div class="salon-content">

        <div class="salon-titre p-4">

            <h1 class="titre-salon-local text-secondary">Trouvez le salon de coiffure idéal</h1>

        </div>

        <div class="container text-salon">

            <span class="desciption-idee">

                Grâce à notre annuaire de recherche, en utilisant simplement votre code postal. 
                Nous vous offrons également la possibilité de contacter notre service client pour 
                obtenir des informations supplémentaires sur nos produits.

            </span>

            <div class="img-localisation">
                 <img src="/upload/images/localisation.png" alt="" class="card rounded-4 img-nat">

            </div>


        </div>

    </div>

</section>