

<div id="carousel-home" class=" carousel slide carousel-fade d-flex align-items-center" data-bs-ride="carousel"> 

  <div class="carousel-inner">

    <div class="carousel-item active c-item-home">
      <img src="https://cdn2.gouiran-beaute.com/media/cct/blog/crop/cache/934x/Sans-titre-9.jpg" class="d-block w-100 c-img" alt="Slide 1">
    </div>

    <div class="carousel-item c-item-home">
      <img src="https://omagazine.fr/wp-content/uploads/2018/02/7-top-models-dont-la-beaute%CC%81-n%E2%80%99a-d%E2%80%99e%CC%81gal-que-leur-talent-pour-les-langues-1024x576.jpg" class="d-block w-100 c-img" alt="Slide 2">
    </div>
    
    <div class="carousel-item c-item-home">
      <img src="https://img.freepik.com/free-photo/beautiful-model-with-long-smooth-flying-blonde-hair-isolated-dark-grey-studio-background-young-caucasian-model-with-well-kept-skin-hair-blowing-air_155003-21877.jpg" class="d-block w-100 c-img" alt="Slide 3">
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-home" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carousel-home" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
