<div id="carousel-produits"  class="carousel container-fluid slide carousel-fade" data-bs-ride="carousel">

  <div class="carousel-lissage-bresilien">

    <div class="carousel-item carousel-produit active">
      <img src="/upload/images/coiffant-liss1.png" class="d-block w-100 carousel-produit-img" alt="...">
    </div>

    <div class="carousel-item carousel-produit">
      <img src="/upload/images/coiffant-liss-2.png" class="d-block w-100 carousel-produit-img" alt="...">
    </div>

    <div class="carousel-item carousel-produit">
      <img src="/upload/images/coiffant-liss-3.png" class="d-block w-100 carousel-produit-img" alt="...">
    </div>

  </div>

</div>