
/* carousel accueil */
.c-item-home{
    height: 900px;

  }

  
.c-img{
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#carousel-home {
  width: 100%;
  
}

/* carousel produits1 */
#carousel-produits{

  width: 330px;

}
.carousel-produit{
  height: 900px;
  
}

.carousel-produit-img{
  height: 50%;
  object-fit: cover;
  border-radius: 5px;

}





.bande-carousel{
  
  background-color: $secondary;
  height: 500px;
  padding-top: 20px;
}

/* ***********************************
professionals avant apres coiffures  *
**************************************/

/* carousel2 */

#carousel-professional{
  
  width: 100%;
  
}

.blonds-carousel{
  height: 900px;
}

.carousel-blond-img{
  height: 70%;
  object-fit: fill;
  border-radius: 10px;
  transform: scale(0.8);
  
}

.bande-carousel-pro{
  
  background-color: $secondary;
  height: 670px;
  padding-top: 10px;
  margin-top: 30px;
}

/* ********
product style
**********/

.product-img{
  
  height: 200px;
  object-fit: cover;
  
}
