

$primary:#00796B;

$secondary:#FFC107;


@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
         url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

// Variables de taille de police
$title-font-size: 90px;
$sub-title-font-size: 24px;
$body-font-size: 18px;
$link-font-size: 14px;
$small-font-size: 12px;

// Utilisation des variables de taille de police et de la police "Playfair Display"


.title-main {
  font-family: 'Playfair Display', serif;
  font-size: $title-font-size;
}

.sub-title {
  font-family: 'Playfair Display', serif;
  font-size: $sub-title-font-size;
}

a {
  font-family: 'Playfair Display', serif;
  font-size: $link-font-size;
}

.small-text {
  font-family: 'Playfair Display', serif;
  font-size: $small-font-size;
}

.space-top{
  padding-top: 200px;
}

.news-letter{
  height: 200px;
}



