<div class="container px-4 py-5" id="featured-3">
   
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Suivez-nous sur les réseaux sociaux :</h2>
        <p>Restez informé(e) de nos dernières actualités, offres exclusives et conseils capillaires en nous suivant sur les réseaux sociaux. Rejoignez notre communauté passionnée et découvrez tous les bienfaits de notre marque de Top Lissage. Ensemble, nous créons une beauté sans compromis.</p>
        {# <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a> #}
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Contactez-nous :</h2>
        <ul>
    <li>Téléphone : [numéro de téléphone]</li>
    <li>E-mail : [adresse e-mail]</li>
    <li>Adresse : [adresse physique de l'entreprise]</li>
  </ul>
       {#  <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a> #}
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Informations supplémentaires :</h2>
        <div class="footer-part">
  <h2>Liens importants :</h2>
  <ul>
    <li><a href="#">Politique de confidentialité</a></li>
    <li><a href="#">Conditions d'utilisation</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Liens vers d'autres pages importantes de votre site Web</a></li>
  </ul>
{#   <img src="{{asset("upload/images/products/lissage1.jpg")}}" class="w-110" alt="Photo avant/après montrant la transformation capillaire avec votre lissage brésilien" />
 #}</div>

       {#  <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a> #}
      </div>
    </div>
  </div>