{% extends 'base.html.twig' %}

{% block title %}Succès d'achat{% endblock %}

{% block body %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center bg-primary bg-opacity-10">
                <div class="card-body">
                    <h3>Votre achat a été effectué avec succès !</h3>
                    <p>Merci d'avoir effectué votre achat.</p>
                    <p>Votre référence de commande est : {{ reference }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('cart_index') }}" class="btn btn-primary">Revenir au panier</a>
    </div>
</div>

{% endblock %}