{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription
{% endblock %}

{% block body %}
	<div class="space-top">
		{{ form_start(emailConfirmationForm) }}
		{{ form_widget(emailConfirmationForm.confirmEmail) }}
		{{ form_end(emailConfirmationForm) }}

	</div>

{% endblock %}
